.choiceresult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.choiceresult-unactive {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.choiceresult-active {
  border-radius: 10px;
  height: 400px;
  width: 500px;
}
